body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* Anda masih dapat menambahkan gaya khusus di sini */

.faq-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}


h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input, textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


/* Menyesuaikan gaya label dan input untuk Bootstrap */
label {
    color: #333;
}

/* Menyesuaikan tata letak tombol untuk Bootstrap */
button {
    margin-top: 10px;
}

/* Menyembunyikan elemen dengan kelas 'hidden' */
.hidden {
    display: none;
}


/* CONTOH STYLE JAWABAN */
.result-box{
    background-color: rgb(255, 255, 255);
}
#jawaban img{
    width: 50vw;
}